span {
  width: fit-content;
  letter-spacing: 1.5px;
}

.flexCol {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Font-size */
/* [Todo] 자간 추가 */

.H1 {
  font-size: 3rem;
  font-weight: 700;
}

.H2 {
  font-size: 2.37rem;
  font-weight: 700;
}

.H3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.H4 {
  font-size: 1.18rem;
  font-weight: 700;
}

.H5 {
  font-size: 1.18rem;
  font-weight: 400;
}

.B1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
}

.B2 {
  font-size: 1rem;
  font-weight: 700;
}

.B3 {
  font-size: 0.75rem;
  font-weight: 400;
}

/* [Todo] Btn이 Input에도 중북으로 사용되는 거 고려하기 */
/* Button */
.button {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  letter-spacing: 1px;

  max-width: 25rem;
  width: 90vw;
  height: 3.5rem;

  border: 0px;
  border-radius: 20px;

  font-size: 1rem;
  font-weight: 400;

  z-index: 2;
  color: var(--Gray-0);
  background-color: var(--Green);
}

.mypage_button {
  width: 105%;
  height: 2.6rem;
  border: 0px;
  margin: 0.5rem;
  color: var(--Gray-0);

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--Green);
  border-radius: 1rem;

  cursor: pointer;
}

.mypage_disabled_button {
  color: var(--Gray-4);
  background: none;

  cursor: auto;
}

/* Input */
.input {
  padding: 1rem;
  color: var(--Text-1);
  border: 1px var(--Gray-3) solid;
  background-color: var(--Gray-0);
}

.input::placeholder {
  color: var(--Gray-4);
}

.inputError {
  border: 2px var(--Red) solid;
  outline: 0px;
}

.inputErrMsg {
  position: absolute;
  top: 3.5rem;
  right: 0px;

  color: var(--Red);
}
