.modalContainer {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 80%;
  max-width: 46rem;
  height: 80%;

  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  position: absolute;
  float: right;
  top: 5px;
  right: 5px;
  width: 2rem;
  height: 2rem;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
}
