.modalContainer {
  position: 'fixed';
  left: '0px';
  top: '0px';
  width: '220px';
  height: '220px';
  background-color: 'tomato';
}

.closeBtn {
  width: 1rem;
  height: 1rem;
  background-color: black;
}
