#pointEarnedUI {
  /* [Temp] 높이 수정 필요 */
  max-width: 20rem;
  width: 90vw;
  height: 9rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: var(--Green-light);
}

.red {
  background-color: var(--Red-light);
}
