.button_keyword {
  margin: 0.5rem 0.33vw;
  background-color: var(--Gray-3);
  color: var(--Text-1);
  border: none;
  border-radius: 1.25rem;
}

.button_correct {
  background-color: var(--Green);
  color: var(--Gray-0);
}

.button_wrong {
  background-color: var(--Red);
  color: var(--Gray-0);
  opacity: 70%;
}

.button_keyword_text {
  padding: 0.75rem 1rem;
  font-size: 1rem;
}
