.container{
    width: 100%;
    margin: auto;
    padding: 0 1rem 0 1rem;
}

.question_container{
    margin-bottom: 3.125rem;
}

.question_text{
    text-align: left;
    line-height: 3;
}

.input_box_container{
    margin-bottom: 2.5rem;
}

.input_box{
    height: 3.625rem;
    border-bottom: 2px solid var(--Gray-3);
    background-color: var(--BG-1);
}

.button_container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--BG-2);
    border-radius: 0.625rem;   
}

.button_default_container{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--BG-2);
    width: 100%;
    border-radius: 0.625rem;  
    padding: 0 2vw;
}

.button_keyword_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 6.25rem;
    background-color: var(--BG-2);
    border-radius: 0.625rem;  
}