:root {
  /* Gray scale */
  --Gray-0: #ffffff;
  --Gray-1: #f9f9f9;
  --Gray-2: #f4f4f4;
  --Gray-3: #e5e5e5;
  --Gray-4: #4a4a4a;
  --black: #000000;

  /* Theme */
  --ococ-Green: #2d9e1b;
  --ococ-Red: #da3838;

  /* Background */
  --BG-1: var(--Gray-0);
  --BG-2: var(--Gray-1);
  --BG-3: var(--Gray-2);

  /* Line */
  --Line-1: var(--Gray-2);
  --Line-2: var(--Gray-3);

  /* Text */
  --Text-1: var(--Gray-4);
  --Text-2: var(var(--black));
}
