.FeatureTitle {
  width: 100vw;
  padding: 0rem 1rem;
  max-width: 48rem;
  margin-top: 15rem;
}

@media screen and (min-width: 768px) {
  .FeatureTitle {
    margin-top: 10rem;
  }
}

/* [Temp] 일단 이름 box */
.box {
  width: 60%;
  height: 50%;
  background-color: #d9d9d9;
  border-radius: 10px;
  color: var(--Gray-0);
}

.Button {
  width: 3px;
}

.video_wrapper {
  background: linear-gradient(#d2fffc, white);
  position: relative;
  width: 1920px;
  z-index: -10;
  height: 100vh;
  overflow: hidden;
}

.video_wrapper svg {
  position: absolute;
  width: 1920px;
  top: -4rem;
}

.text_wrapper {
  max-width: 20rem;
  width: 90vw;
}
