body {
  margin: 0;
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global root tag style */
#root {
  display: flex;
  justify-content: center;
}

:root {
  /* Break point */
  --Break-Point: 48rem;

  /* Gray scale */
  --Gray-0: #ffffff;
  --Gray-1: #f9f9f9;
  --Gray-2: #f4f4f4;
  --Gray-3: #e5e5e5;
  --Gray-4: #4a4a4a;
  --Black: #000000;

  /* Theme */
  --Green: #2d9e1b;
  --Green-2: #2c901c;
  --Green-light: #d0ffba;
  --Green-light-2: #abd8a4;
  --Red: #da3838;
  --Red-light: #f0b0b0;
  --Yellow: #ebda41;

  /* Background */
  --BG-1: var(--Gray-0);
  --BG-2: var(--Gray-1);
  --BG-3: var(--Gray-2);

  /* Line */
  --Line-1: var(--Gray-2);
  --Line-2: var(--Gray-3);

  /* Text */
  --Text-1: var(--Gray-4);
  --Text-2: var(--black);
  --Text-3: var(--Gray-0);
}
