.progress_navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.progress_icon{
    display: flex;
    margin-right: 0.8vw;
    background-color: var(--BG-1);
    border: none;
    font-size: 1.25rem;
}

.progress{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.938rem;
    margin: 1rem 0vw;
}

.progress::-webkit-progress-bar{
    background-color: var(--Gray-2);
    border-radius: 0.625rem;
}

.progress::-webkit-progress-value{
    background-color: var(--Green);
    border-radius: 0.625rem;
}